<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="taskpixelogic">
  <test thread-count="5" name="regression Test">
    <parameter name="browser" value="chrome"></parameter> 
    <classes>
      <class name="com.pixelogic.tests.UserRegistrationTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- taskpixelogic -->
